[submodule "PyGridNetwork"]
	path = PyGridNetwork
	url = https://github.com/vermasrijan/PyGridNetwork.git
[submodule "PyGrid"]
	path = PyGrid
	url = https://github.com/vermasrijan/PyGrid.git
[submodule "PyGridNode"]
	path = PyGridNode
	url = https://github.com/vermasrijan/PyGridNode.git
[submodule "PySyft"]
	path = PySyft
	url = https://github.com/vermasrijan/PySyft.git
